/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*background-color: #f4f4f6;*/
    min-height: 100%;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto;
    grid-template-areas: "nav content";
    align-items: flex-start;
    grid-gap: 10px 10px;
}

.contatiner .content {
    grid-area: content;
}

.container .navbar {
    grid-area: nav;
}

/*Details styles*/
.details {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: 40% auto;
    grid-template-rows: auto;
    grid-template-areas: "brief description"
                         "posts posts";
}

.details .brief {
    grid-area: brief;
}

.details .description {
    grid-area: description;
}

.profile-img {
    width: 150px;
    height: auto;
}

ul {
    list-style-type: none;
}

.header {
    margin-bottom: 20px;
}

.navbar ul li .btn {
    min-width: 105px;
    text-align: left;
}

ul {
    padding: 0;
}

.post-list {
    grid-area: posts;
    min-width: 600px;
}

.post {
    border-color: darkgray;
    background-color: ivory;
    border-width: 2px;
    padding: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "author date" 
                         "text text"
                         "file file"
                         ". account";
}

.post .author {
    grid-area: author;
}

.post .author img {
    max-width: 30px;
}

.post .time {
    grid-area: date;
    text-align: right;
}

.post .text {
    grid-area: text;
}

.post .img {
    grid-area: file;
    max-width: 500px;
}

.post .file {
    grid-area: file;
}

.post .acc {
    grid-area: account;
    text-align: right;
}

.post .acc span {
    margin-right: 10px;
}

/*news page*/
.news {
    grid-area: content;
}

/*login and register*/
.enter {
    padding: 30px;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: auto 350px auto;
    grid-template-areas: ". content link";
}

.enter .login {
    grid-area: content;
}

.enter .register {
    grid-area: content;
}

.enter .link {
    grid-area: link;
    justify-self: start;
    align-self: flex-start;
}

/*_ShortMsgTilePartial*/
.short-msg-tile {
    display: grid;
    grid-template-areas: "author short-msg";
}

.short-msg-tile .msg-tile {
    max-width: 400px;
}

.short-msg-tile .author {
    grid-area: author;
}

.short-msg-tile .short-msg {
    grid-area: short-msg;
    text-overflow: clip;
}

/*_MsgTilePartials*/
.msg-tile::after {
    clear: both;
    content: "";
    display: table;
}

.msg-tile-left {
    float: left;
    text-align:right;
    max-width: 700px;
    min-width: 200px;
}

.msg-tile-right {
    float: right;
    text-align: left;
    max-width: 700px;
    min-width: 200px;
}

/*_PersonTilePartial*/
.profile-tile-cont {
    margin-bottom: 15px;
}

.profile-tile-cont .profile-tile {
    display: grid;
    grid-template-areas: "person account";
}

.profile-tile-cont a {
    color: inherit;
    text-decoration: none;
}

.profile-tile-cont:hover {
    background-color: #e5e5e5;
}

.profile-tile-cont img {
    max-width: 70px;
    margin-right: 10px;
}

.profile-tile-cont .profile-tile .acc {
    align-self: flex-end;
    justify-self: flex-end;
    min-width: 150px;
    text-align: right;
}

/*Chat*/
.msg-list .scrollable-window {
    min-height: 500px;
    margin-bottom: 5px;
    overflow-y: auto;
    position: relative;
}

.msg-list .scrollable-window #uml {
    position: absolute;
    bottom: 0;
    right: 10px;
    left: 10px;
}

.msg-list li {
    margin-bottom: 15px;
}

/*#curSelect option {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

#curSelect option:hover, #curSelect option:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

#curSelect option.active, #curSelect option:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

#curSelect option.disabled, #curSelect option:disabled {
    color: #6c757d;
    background-color: transparent;
}*/
