@model IEnumerable<MoneyShareTermApp.Models.Post>

@{
    ViewData["Title"] = "Posts";
}
<div class="news">
    @foreach(var post in Model)
    {
        @await Html.PartialAsync("_PostTilePartial", post);
    }
</div>